<!DOCTYPE html>
<html lang="en">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

		<title>App name</title>	  
		<link rel="stylesheet" href="css/app.css" />
        <link href="http://code.jquery.com/mobile/1.1.1/jquery.mobile-1.1.1.css" rel="stylesheet" type="text/css">
	</head>
	
	<body>

	  	<% include inc/header %>

        <div id="content">
        	<section id="landing" style="display: none;"> </section>
        	<section id="about" style="display: none;"> </section>
        </div>

		<script src="js/lib/ejs_production.js"></script>
		<script data-main="js/main" src="js/lib/jquery-min.js"></script>
		<script data-main="js/main" src="js/lib/require.js"></script>
	</body>

</html> 